<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DIU Admission Chatbot</title>

    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

    <div class="container">
        <div class="header">
            <h1>DIU Admission Chatbot</h1>

        </div>
        <!-- status -->
        <div id="bot-status" class="status-box">

            knowledge Base is ready
        </div>

        <div class="chat-container" id="chat-container">
            <div class="message ai-message">
                Hello 👋 

                Welcome to DIU Admission Assistant. Ask your Question

            </div>

        </div>

        <div class="input-section">
            <textarea 
                id="question-input"

                placeholder=
                "Ask a question..." 
                rows="2"
                
            ></textarea>
            
            <button id="send-btn">
                send
            </button>
        </div>
    </div>

    <script src="/static/script.js"></script>

</body>

</html>